version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: expense_budget_manager_pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: expense_budget_manager
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
